@model SlackDAW1.Models.Channel

@{
	ViewBag.Title = "Index";
}

<div class="all-channels">


	<h2>All channels</h2>
	<br />

	<a class="btn btn-primary mb-2" href="/Channels/New">Create new channel</a>
	<br />

	<div class="channels-list d-flex flex-column gap-2">
		@foreach(var channel in ViewBag.Channels)
		{
			<div class="channel border border-secondary rounded p-2">
				<div class="channel-info">
					<h5>@channel.ChannelName</h5>
					<p>@channel.ChannelDescription
						<span class="badge badge-light">@channel.Category.CategoryName</span>
					</p>
				</div>

				<div class="d-flex justify-content-start gap-3">
					<a class="btn btn-secondary" href="/Channels/Show/@channel.ChannelID">Show</a>
					<a class="btn btn-warning" href="/Channels/Edit/@channel.ChannelID">Edit</a>
					<a class="btn btn-danger" href="/Channels/Delete/@channel.ChannelID">Delete</a>
				</div>
		  </div>
		}
	</div>

</div>